// 整體樣式
$font-info:18px;
$font-title:60px;
$icon-size:30px;
$uwork_blue:#3967ec;
$uwork_white:#f5f5f7;
$uwork_hover:#3967ec;
$uwork_black:#000;
/* 表頭 */
.wrap{
	max-width: 100%;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-color:$uwork_black;
	position: relative;
	.nav {
		display: flex;
		justify-content: space-between;
		li{
			a{
				display: block;
				padding: 20px 30px;
				font-size: 14px;
				color:$uwork_white;
				text-decoration: none;
				border-radius: 50px;
				transition: .5s;
				&:hover{
					background-color: $uwork_hover;
		
				}
			}
		}
		
	}
	h1 {
		a {
			display: block;
			width: 138px;
			height: 30px;
			background-image: url(../img/LOGO.png);
			background-size: cover;
			text-indent: 101%;
			overflow: hidden;
		}
	}
}
/* 廣告區 */
.banner {
	height: calc(100vh - 30px);
	display: flex;
	align-items: center;
	background-image: url(../img/phone.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.slogan {
        padding-left:80px;
            h2 {
                font-size: 52px;
                margin-bottom: 30px;
                font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
            }
            p {
                font-size: $font-info;
                line-height: 1.6;
            }
            .calc_btn{
                text-decoration: none;
                display: block;
                width: 200px;
                height: 60px;
                background-color:$uwork_black;
                color:$uwork_white;
                text-align: center;
                line-height: 60px;
                font-size: $font-info;
				border-radius:50px;
				transition: .3s;
				&:hover{
					background-color: $uwork_hover;
		
				}
            }
	}
}
/* 計算機區塊 */
.content {
	padding: 50px;
	background-color:$uwork_black;
	text-align: center;
	margin: 0 auto;
	.container{
		max-width: 1200px;
		margin: 0 auto;
		.calc_title {
				font-size: $font-title;
				color:$uwork_white;
				font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
				p{
					font-size:$font-info;
				}
		}
		.calc_info {
			max-width: 800px;
			margin: 30px auto;
			text-align: left;
			color:$uwork_white;
			font-size:$font-info ;
			border-left: 1px solid $uwork_white;
			padding-left: 20px;
			line-height: 1.5;
		}
		.salary-input{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li{
				margin:0px 50px;
			}
			i{
			font-size:$icon-size;
			color: #f5f5f7;
			margin: 20px;
			}
			input{
				display: block;
				width: 200px;
				height: 30px;
				border:0 none;
				border-radius: 30px;
				background-color: rgb(66, 66, 66);
				color:#fff;
				font-size: 20px;
				padding:0px 10px;
				cursor: pointer;
			}::placeholder{
			   text-align:center;
			}
		}
		.cost-input{
			display: flex;
			justify-content: space-between;
			i{
				font-size:$icon-size;
				color: #f5f5f7;
				margin: 20px;
				}
			input{
					display: block;
					width: 200px;
					height: 30px;
					margin-bottom: 50px;
					border:0 none;
					border-radius: 30px;
					background-color: rgb(66, 66, 66);
					color:#fff;
					font-size: 20px;
					padding:0px 10px;
					cursor: pointer;
			}::placeholder{
				   text-align:center;
			}

		}
		
		.btn {
			display: inline-block;
			text-decoration: none;
			color: $uwork_white;
			padding: 20px 100px;
			margin: 0 10px;
			border-radius: 50px;
			background-color:$uwork_blue;
			font-size: $font-info;
			font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
		}
		
		.save{
			background-color:$uwork_white;
			color:$uwork_black;
		}
		#workhour {
			margin-top: 40px;
			font-size: 200px;
			color:$uwork_white;
		}
		span {
			color: #f5f7f5;
			font-size: 50px;
		}
		#list{
			li{
				height: 30px;
				padding:30px;
				display: flex;
				justify-content:center;
				align-items:center;
				border-bottom:1px solid #fff;
			}
			a{
				display:block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-left: 10px;
				font-size: 20px;
				background-color:$uwork_blue;
				color:$uwork_white;
				line-height:50px;
				margin-left: 20px;
			}
		}
   }
}
/* 介紹好處區塊 */
.adv {
	padding: 100px;
	background-color:$uwork_white;
	text-align: center;
  .container {
	  max-width: 1200px;
	  margin: 0 auto;
	  .adv_title {
		font-size: $font-title;
		color:$uwork_black;
		font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
		p{
			font-size:$font-info;
		}
}
	
	.adv_item {
		display: flex;
		justify-content:space-between;
		.item {
			position: relative;
			text-align: center;
		}
		.icon {
			padding-top: 50px;
		}
		.fas {
			font-size: 80px;
			color:$uwork_blue;
			position: relative;
			z-index: 2;
		}
		h3 {
			font-size: 20px;
			font-weight: 800;
			margin-top: 50px;
			color:$uwork_black;
			font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
		}
		p {
			font-size: $font-info;
			margin-top: 20px;
			color: $uwork_black;
			font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
		}
		.bg_text {
			display: block;
			font-size: 360px;
			font-weight: 900;
			opacity: 0.15;
			position: absolute;
			top: -30px;
			left: -40px;
			z-index: 0;
			color:$uwork_black;
		}
	}
  }
}

/* 加入區塊 */
.join {
    .join_title {
		text-align: center;
		padding: 50px;
        font-size: $font-title;
        font-family: 'Roboto', sans-serif,'Noto Sans TC', sans-serif;
		span{
			font-size:$font-info;
		}
    }
	.info {
        display: flex;
        .discount {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 0px;
            width: 60%;
            background-color: $uwork_black;
            color: $uwork_white;
            h3{
                font-size: $font-info;
            }
            .awei {
                font-size: 60px;
                padding: 20px 0px;
            }
        }
        
        .uber {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
			background-color:$uwork_blue;
			a{
			  text-decoration:none;
			  color:$uwork_white;
			  font-size: $font-info;
			}
        }
	}
}

/* 頁面底部 */
.footer{
	background-color:rgb(53, 53, 53);
	padding:20px;
	text-align: center;
	color: $uwork_white;
	letter-spacing: 1.5px;
  }
.showmenu{
	display: none;
}


// RWD
@media(max-width:767px){
	//漢堡選單
	.showmenu{
		display: block;
		padding:30px;
		color:#fff;
		text-decoration: none;
	}
	//收合 nav
	.nav{
		max-height:0px;
		overflow: hidden;
		position: absolute;
		z-index: 100;
		top:90px;
		left: 0px;
		right: 0px;
		transition: max-height 2.3s;
		margin-top: 1px;
		background: #0F222B;
		display: block;
	}

	.menu-show{
		max-height: 500px;
	  }

}